body {
	background: white;
	color: black;
	font-family: 'questrial';
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#app {
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;

}

.container {
	max-width: 80%;
	width: 80%;
}

/* // project */
.project {
	position: relative;
	height: 400px;
	margin-bottom: 50px;
}


.project .columns {
	height: 100%;
}

.project .image {
	background: url('/assets/images/homeassets/cross.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.project .details {
	position: absolute;
	top: 50%;
	transform: translate(-10%, -50%);
	border: 1px solid black;
	height: 80%;
}
