body {
	background: #111;
	color: white; 
	font-family: monospace;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#app {
	text-align: center;
}

img {
	width: 300px; 
}

h1 {
	font-weight: 100;
	font-size: 20px;
}

a {
	display: block;
	color: white;
	text-decoration: none;
	margin-bottom: 20px;
}

.header {
	position: fixed; 
	top: 20px; 
	right: 50px;
	text-align: right;
	width: 300px;
}

.header p {
	text-align: right;
}

#hover {
	opacity: 0;
}

#about:hover #hover{
	opacity: 1;
}

#about i {
	text-decoration: none;
}

.project {
	text-align: center;
}

i {
	font-size: 12px;
	text-decoration: underline;\
	opacity: 0.5;
}

.footer {
	position: fixed; 
	text-align: center;
	bottom: 20px;
	left: 50%; 
	transform: translateX(-50%);
}